@import "colores";

body {
    display: flex;
    flex-direction: column;
}

.contenido-estatico {
    text-align: justify;
    padding: 20px;
    margin: 20px;

    h1 {
        text-align: center;
    }

}

.contenido-estatico-noticias-titulo {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Ubuntu", sans-serif;
}

.paginacion-noticias {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px;

    a {
        margin: 0 10px;
        padding: 10px 20px;
        background-color: $azul-enfasis;
        color: white;
        text-decoration: none;
        border-radius: 5px;

        &:hover {
            background-color: $rojo-enfasis;
            color: white;
        }
    }
}
